<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MENÚ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">

    <ion-button color="secondary" size="large" expand="block" (click)="hacerRecorrido()">
      Hacer recorrido
      <ion-icon slot="start" name="walk"></ion-icon>
    </ion-button>

    <ion-button color="warning" size="large" expand="block" (click)="mirarRecorrido()">
      Mirar recorrido
      <ion-icon slot="start" name="eye"></ion-icon>
    </ion-button>

  </div>
</ion-content>